.drawer{display:flex!important;overflow:auto;z-index:110;position:fixed;top:0;bottom:0;background-color:var(--kt-drawer-bg-color);transition:transform .3s ease-in-out!important}
.drawer.drawer-start{left:0;transform:translateX(-100%)}
.drawer.drawer-end{right:0;transform:translateX(100%)}
.drawer.drawer-on{transform:none;box-shadow:var(--kt-drawer-box-shadow);transition:transform .3s ease-in-out!important}
.drawer-overlay{position:fixed;top:0;left:0;bottom:0;right:0;overflow:hidden;z-index:109;background-color:var(--kt-drawer-overlay-bg-color);animation:animation-drawer-fade-in .3s ease-in-out 1}[data-kt-drawer=true]{display:none}@keyframes animation-drawer-fade-in{from{opacity:0}to{opacity:1}}
.card{--bs-card-spacer-y:1rem;--bs-card-spacer-x:1rem;--bs-card-title-spacer-y:0.5rem;--bs-card-border-width:1px;--bs-card-border-color:#eff2f5;--bs-card-border-radius:0.625rem;--bs-card-box-shadow:0px 0px 20px 0px rgba(76, 87, 125, 0.02);--bs-card-inner-border-radius:calc(0.625rem - 1px);--bs-card-cap-padding-y:0.5rem;--bs-card-cap-padding-x:1rem;--bs-card-cap-bg:transparent;--bs-card-bg:#ffffff;--bs-card-img-overlay-padding:1rem;--bs-card-group-margin:0.75rem;position:relative;display:flex;flex-direction:column;min-width:0;height:var(--bs-card-height);word-wrap:break-word;background-color:var(--bs-card-bg);background-clip:border-box;border:var(--bs-card-border-width) solid var(--bs-card-border-color);border-radius:var(--bs-card-border-radius);box-shadow:var(--bs-card-box-shadow)}.card>hr{margin-right:0;margin-left:0}.card>.list-group{border-top:inherit;border-bottom:inherit}.card>.list-group:first-child{border-top-width:0;border-top-left-radius:var(--bs-card-inner-border-radius);border-top-right-radius:var(--bs-card-inner-border-radius)}.card>.list-group:last-child{border-bottom-width:0;border-bottom-right-radius:var(--bs-card-inner-border-radius);border-bottom-left-radius:var(--bs-card-inner-border-radius)}.card>.card-header+.list-group,.card>.list-group+.card-footer{border-top:0}.card-body{flex:1 1 auto;padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);color:var(--bs-card-color)}.card-title{margin-bottom:var(--bs-card-title-spacer-y)}.card-subtitle{margin-top:calc(-.5 * var(--bs-card-title-spacer-y));margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link+.card-link{margin-left:var(--bs-card-spacer-x)}.card-header{padding:var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);margin-bottom:0;color:var(--bs-card-cap-color);background-color:var(--bs-card-cap-bg);border-bottom:var(--bs-card-border-width) solid var(--bs-card-border-color)}.card-header:first-child{border-radius:var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0}.card-footer{padding:var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);color:var(--bs-card-cap-color);background-color:var(--bs-card-cap-bg);border-top:var(--bs-card-border-width) solid var(--bs-card-border-color)}.card-footer:last-child{border-radius:0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius)}.card-header-tabs{margin-right:calc(-.5 * var(--bs-card-cap-padding-x));margin-bottom:calc(-1 * var(--bs-card-cap-padding-y));margin-left:calc(-.5 * var(--bs-card-cap-padding-x));border-bottom:0}.card-header-tabs .nav-link.active{background-color:var(--bs-card-bg);border-bottom-color:var(--bs-card-bg)}.card-header-pills{margin-right:calc(-.5 * var(--bs-card-cap-padding-x));margin-left:calc(-.5 * var(--bs-card-cap-padding-x))}.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:var(--bs-card-img-overlay-padding);border-radius:var(--bs-card-inner-border-radius)}.card-img,.card-img-bottom,.card-img-top{width:100%}.card-img,.card-img-top{border-top-left-radius:var(--bs-card-inner-border-radius);border-top-right-radius:var(--bs-card-inner-border-radius)}.card-img,.card-img-bottom{border-bottom-right-radius:var(--bs-card-inner-border-radius);border-bottom-left-radius:var(--bs-card-inner-border-radius)}.card-group>.card{margin-bottom:var(--bs-card-group-margin)}@media (min-width:576px){.card-group{display:flex;flex-flow:row wrap}.card-group>.card{flex:1 0 0%;margin-bottom:0}.card-group>.card+.card{margin-left:0;border-left:0}.card-group>.card:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0}.card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top{border-top-right-radius:0}.card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom{border-bottom-right-radius:0}.card-group>.card:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0}.card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top{border-top-left-radius:0}.card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom{border-bottom-left-radius:0}}
#kt_drawer_chat_toggle {
    font-size: 24px;
    color: #414159;
    padding-right: 15px;
    line-height: 9px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 3px;
    border-radius: 4px;
}
#kt_drawer_chat_toggle:hover {
    background-color: #414159;
}
#kt_drawer_chat_toggle:hover i {
    color: #05c361;
}
.bullet {
    display: inline-block;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    animation: animationBlink 1s steps(5, start) infinite;
}
.bullet.connected {
    background-color: #05c361;
}
.bullet.not-connected {
    background-color: #f00303;
}
.bullet ~ .unread-messages,
.bullet ~ .unread-messages-plus
{
    position: absolute;
    font-size: .8rem;
    color: #adadaf;
    background-color: #1e1e2d;
    border-radius: 50%;
    text-align: center;
}
.bullet ~ .unread-messages
{
    width: 18px;
    height: 18px;
    left: 8px;
    top: -7px;
    padding-top: 4px;
}
.bullet ~ .unread-messages-plus
{
    width: 13px;
    height: 13px;
    left: 18px;
    top: -10px;
    padding-top: 2px;
    clip-path: circle(4px);
}
@keyframes animationBlink {
    to {
      visibility: hidden;
    }
  }
#kt_drawer_chat {
    width: 400px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
#kt_drawer_chat_close {
    /* background-color: #2a2a3c; */
    /* width: 18px;
    height: 18px; */
}
#kt_drawer_chat_close:hover {
    background-color: #0a6430;
}
#kt_drawer_chat_close i {
    color: #fff;
    font-size: 8px;
}
#kt_drawer_chat_messenger {
    background-color: #1e1e2d;
}
.text-gray-900 {
    color: #fff !important;
}
.text-hover-primary {
    transition: color 0.2s ease;
}
.lh-1 {
    line-height: .80 !important;
}
.fw-bold {
    font-weight: 600 !important;
}
.fs-4 {
    font-size: 1rem !important;
}
.fs-5 {
    font-size: .90rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.me-1 {
    margin-right: 0.25rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-10 {
    margin-bottom: 2.5rem !important;
}
.rounded {
    border-radius: 0.475rem !important;
}
.text-dark {
    color: #fff !important;
}
.text-start {
    text-align: left !important;
}
.fw-semibold {
    font-weight: 300 !important;
}
.p-5 {
    padding: 1.25rem !important;
}
.pe-5 {
    padding-right: 1.25rem !important;
}
.bg-light-info {
    background-color: #2a2a3c !important;
}
.bg-light-primary {
    background-color: #212e48 !important;
}
.mw-lg-400px {
    max-width: 400px !important;
}
.leap-admin-main-wrapper .text-muted {
    color: #565674 !important;
}
.text-muted {
    color: #565674 !important;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #565674 !important;
}
.fw-semibold {
    font-weight: 300 !important;
}
.fs-7 {
    font-size: 0.90rem !important;
}
.h-10px {
    height: 10px !important;
}
.w-10px {
    width: 10px !important;
}
.badge:empty {
    display: none;
}
.badge-success {
    color: #ffffff;
    background-color: #50cd89;
}
.badge.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: 1.75rem;
}
.badge.badge-circle, .badge.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    padding: 0 0.1rem;
    line-height: 0;
}
.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    color: var(--bs-card-cap-color);
    background-color: transparent;
    border-bottom: 1px solid #2b2b40;
}
.card .card-header .card-title, 
.card .card-header .card-title .card-label {
    font-weight: 500;
    font-size: 1.275rem;
    color: var(--bs-text-dark);
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}
.card .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}
.btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
    border: 0;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
    box-shadow: none;
}
.btn.btn-icon.btn-sm, .btn-group-sm > .btn.btn-icon {
    height: calc(1.5em + 1.1rem + 2px);
    width: calc(1.5em + 1.1rem + 2px);
}
.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.55rem + 2px);
    width: calc(1.5em + 1.55rem + 2px);
}
.btn {
    --bs-btn-color: #181c32;
    outline: none !important;
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card .card-body {
    padding: 2rem 2.25rem;
    color: var(--bs-card-color);
}
.scroll-y {
    overflow-y: scroll;
    position: relative;
    height: 100%;
}
.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.475rem;
}
.symbol.symbol-circle, 
.symbol.symbol-circle > img, 
.symbol.symbol-circle .symbol-label {
    border-radius: 50%;
}
.symbol > img {
    display: inline-block;
}
.symbol.symbol-35px > img {
    width: 35px;
    height: 35px;
}
.symbol.symbol-circle, 
.symbol.symbol-circle > img, 
.symbol.symbol-circle .symbol-label {
    border-radius: 50%;
}
.card .card-footer {
    display: unset;
    height: auto;
    padding: 2rem 2.25rem;
    color: var(--bs-card-cap-color);
    background-color: #1e1e2d;
    border-top: 1px solid #2b2b40;
}
.card .card-footer .btn i {
    font-size: 20px;
    color: #adadaf;
}
textarea.form-control {
    min-height: calc(1.5em + 1.55rem + 2px);
}
.form-control.form-control-flush {
    width: 100%;
    border: 0;
    background-color: #2a2a3c;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;
}
.form-control.form-control-flush:hover,
.form-control.form-control-flush:focus,
.form-control.form-control-flush:active {
    border: 0;
    box-shadow: none;
    border-radius: 0;
}
.flex-stack {
    justify-content: space-between;
    align-items: center;
}
.btn-primary {
    color: #fff !important;
    font-size: 14px;
}
@media (max-width: 993px) {
    #kt_drawer_chat_toggle {
        margin-right: 0;
        margin-top: -6px;
    }
}
@media (max-width: 575px) {
    #kt_drawer_chat {
        width: 100%;
    }
}

#kt_drawer_chat_messenger_body ol,
#kt_drawer_chat_messenger_body ul
{
    margin: 0px 20px;
}
#kt_drawer_chat_messenger_body ol
{
    list-style: numeric;
}
#kt_drawer_chat_messenger_body ul
{
    list-style: circle;
}
#kt_drawer_chat_messenger_body a[href]
{
    text-decoration: underline
}
#kt_drawer_chat_messenger .add-emoji{
    right: 9px;
    top: -19px;
    background-color: #2a2a3c;
    padding: 0px 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}
#kt_drawer_chat_messenger .message-html-section:hover .add-emoji{
    display: block;
}
#kt_drawer_chat_messenger .all-emoji{  
    background-color: black;
    padding: 0px 2px;
    border-radius: 5px;
    width: calc(100% - 50px);
    top: -132px;
    left: 42px;
    width: 262px;
    z-index: 9991;
    height: 105px;
}